@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown">
        <span class="dropdown-toggle" type="button" id="dropdownMenuUser"
        data-bs-toggle="dropdown" aria-expanded="false">
        @User.Identity.Name
    </span>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuUser">
        <li>
            <form asp-controller="Account" asp-action="SignOut" method="post">
                <input type="submit" class="dropdown-item" value="Sign-Out">
            </form>
        </li>
    </ul>
    </div>
}
else
{
      
    <div class="dropdown">    <i class="fa-solid fa-id-badge"></i> 
        <span class="dropdown-toggle" type="button" id="dropdownMenuUser"
        data-bs-toggle="dropdown" aria-expanded="false">
        Account
    </span>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuUser">
        <li>
            <a class="dropdown-item" asp-controller="Account" asp-action="SignIn">
                Login
            </a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="Account" asp-action="Register">
                Register
            </a>
        </li>
    </ul>
    </div>
}
