@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Business Partners</h1>
    <p>List of Long-Term Partners and Distinguished Suppliers

<style>
body
{
  background-image: url('https://mavco.com.au/wp-content/uploads/2020/09/shutterstock_567466639-scaled.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
</style>
</div>
