@model SignInVM

<h3>Sign In to Suppliers App</h3>

<form asp-controller="Account" asp-action="SignIn" 
    asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <br /><br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <br /><br />
    <a asp-action="Index" asp-controller="Home" class="btn btn-light">
        Back to Home Page
    </a>
    <input type="submit" class="btn btn-success" value="Log-In" />
</form>
<br />
Don't have an account? <a asp-controller="Account" asp-action="Register">
    Register Here
</a>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
