@model ProductVM

<h3> Create A New Product</h3>

<form asp-controller="Product" asp-action="Add" method="post"> 
    <div asp-validation-summary="All" class="text-danger"> </div>
    <label asp-for="Name"> </label>
    <input type="text" asp-for="Name" class="form-control" />
    <br/>

    <label asp-for="Description"></label>
    <input type="text" asp-for="Description" class="form-control" />
    <br/>

    <label asp-for="Qty"></label>
    <input type="text" asp-for="Qty" class="form-control" />
    <br/>

    <label asp-for="Unit"></label>
    <input type="text" asp-for="Unit" class="form-control" />
    <br/>
   

<a asp-controller="Supplier" asp-action="Index" class="btn btn-primary">
    Back
</a>
<input type="submit" value="Add Product" class="btn btn-success" />

</form>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
