@{
    ViewData["Title"] = "Store Locations using AKSES";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<br /><br />

<p class="text-center">Lanao Del Sur</p>
<p class="text-center">Eastern Samar</p>
<p class="text-center">Maguindanao</p>
<p class="text-center">Zamboanga Del Norte</p>
<p class="text-center">Zarangani</p>
<p class="text-center">North Cotabato</p>
<p class="text-center">Negros Oriental</p>
<p class="text-center">Western Samar</p>
<p class="text-center">Manila</p>
