@model Expenses

<h3>Edit Customer Details</h3>

<form asp-controller="Expenses" asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"> </div>
    <input type="hidden" asp-for="EntryID" />

    <label asp-for="MonthAndYear"></label>
    <input type="date" asp-for="MonthAndYear" class="form-control" />
    <br />
   
    <label asp-for="RestockTotalPrice"></label>
    <input type="text" asp-for="RestockTotalPrice" class="form-control" />
    <br />

    <label asp-for="ElectricityBill"></label>
    <input type="text" asp-for="ElectricityBill" class="form-control" />
    <br />

    <label asp-for="WaterBill"></label>
    <input type="text" asp-for="WaterBill" class="form-control" />
    <br />

    <label asp-for="WorkersSalaries"></label>
    <input type="text" asp-for="WorkersSalaries" class="form-control" />
    <br />

    <a asp-controller="Expenses" asp-action="Index" class="btn btn-primary">
        Back
    </a>
    <input type="submit" class="btn btn-success" value="Save Changes" />
</form>