<a asp-controller="Home" asp-action="Index" class="btn btn-primary">
    <i class="fas fa-solid fa-house"></i>
    Back to Homepage
</a>
<a asp-controller="RequestMedicine" asp-action="Add" class="btn btn-success">
    <i class="fa-solid fa-file-medical"></i>
    Add New Request
</a>
