@model List<MedicineInventory>
<h2> List of Available Medicine </h2>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">
    <i class="fas fa-solid fa-house"></i>
    Back to Homepage
</a>


@if (Model.Count() < 1)
{
    <div class="alert alear-info">
        No Products Available.
    </div>
}
else
{
   
    <table class="table table-striped table-hover" id="ProductsAvailableTable">
                <thead> 
                    <tr>
                        <th>Medicine Name</th>
                        <th>Price (Peso)</th>
                       
                   
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.MedicineName</td>
                        <td> @item.Price</td>
                       
                    </tr>
                }
                </tbody>
            </table>
}
@section Scripts {
    <script>
         $(document).ready( function () {
         $('#ProductsAvailableTable').DataTable();
    });
    
    </script>
}
