@model CustomerVM

<h3>Create a New Customer</h3>

<form asp-controller="Customer" asp-action="Add" method="post"> 
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <label asp-for="Name"> </label>
    <input type="text" asp-for="Name" class="form-control" />
    <br/>

    <label asp-for="ContactNo"> </label>
    <input type="text" asp-for="ContactNo" class="form-control" />
    <br/>
    
    
    <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">
    Back

    </a>
    <input type="submit" value="Add New Item Entry" class="btn btn-success" />


</form>