
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">
    <i class="fas fa-solid fa-house"></i>
    Back to Homepage
</a>
<a asp-controller="Customer" asp-action="Add" class="btn btn-success">
    <i class="fas fa-brands fa-product-hunt"></i>
    Add New Customer
</a>